.yaymail-editor-property-switcher {
    &[data-layout='inline'] {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        .yaymail-title {
            margin-bottom: 0;
        }
    }
}
