.yaymail-preview-email .yaymail-send-email__content {
  display: flex;
  margin-right: 60px;

  &__text {
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    margin-right: 20px;
    .yaymail-input {
      box-shadow: none;
      outline: none;
    }
  }

  &__text:focus {
    border-color: #9b78bf !important;
    border-inline-end-width: 1px !important;
    box-shadow: 0 0 0 2px rgba(91, 10, 137, 0.11) !important;
  }
}
