.yaymail-chosen-element {
  .yaymail-table-image-list {
    .yaymail-table-image-list-column {
      &.active {
        box-shadow: inset 0 0 0 1px #d5d2d2;
        -webkit-box-shadow: inset 0 0 0 1px #d5d2d2;
        -moz-box-shadow: inset 0 0 0 1px #d5d2d2;
      }
    }
  }
}
.yaymail-table-image-list {
  width: 100%;
  .yaymail-table-image-list-column {
    &:hover {
      box-shadow: inset 0 0 0 1px #d5d2d2;
      -webkit-box-shadow: inset 0 0 0 1px #d5d2d2;
      -moz-box-shadow: inset 0 0 0 1px #d5d2d2;
    }
    &.active:hover {
      box-shadow: inset 0 0 0 1px #d5d2d2;
      -webkit-box-shadow: inset 0 0 0 1px #d5d2d2;
      -moz-box-shadow: inset 0 0 0 1px #d5d2d2;
    }
  }
  .yaymail-customizer-element-image-list {
    &__anchor {
      display: block;
      pointer-events: none;
    }

    img {
      max-width: 100%;
      // width: inherit;
    }
  }
}
