.yaymail-editor-property-border-radius {
  .yaymail-input-number-group-addon {
    background-color: #18191b;
    border: none;
    padding: 0 0 0 8px;
    line-height: 0;
  }
  .yaymail-input-number-input {
    padding: 0 8px;
  }
}
